.categories ul {
    list-style: none;
    margin: 0px !IMPORTANT;
    padding: 0px ! IMPORTANT;
}

.categories ul li {
    padding: 0px 11px;
    font-size: 16px;
    border-top: 1px solid #ccc;
    color: #2f89fc;
}

span.cat-count {position: relative;float: inline-end;color: #ccc;}