.categories ul {
    list-style: none;
    margin: 0px !IMPORTANT;
    padding: 0px ! IMPORTANT;
}

.categories ul li {
    padding: 6px;
    font-size: 18px;
    border-top: 1px solid #ccc;
}

span.cat-count {position: relative;float: inline-end;}