.footer-content {
    display: flex;
    background-color: #333333;
    color: #999999;
    padding: 70px;
}
.footer-content .col {
    width: 30%;
}

.col.site-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.col.site-links ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.col.site-links ul li {
    padding: 9px 0px;
    font-size: 16px;
}