.individual-blog {
    margin: -13px;
    padding: 34px;
}
.individual-blog a {
    text-decoration: none;
    color: blue;
}
.category{
    background-color: orange;
    padding: 5px 9px;
    border-radius: 2px;
    width: 55px;
    text-transform: uppercase;
}
.thumbnail-img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.blog-content{
    line-height: 25px ;
}
