.top-section{
    display: flex;
    justify-content: center;
    background-color: #f8f9fa!important;
    padding: 75px;
}
.single-blog, .one-blog{
    padding: 20px;
    border-radius: 2px;
    margin: 10px;
}
.two-blogs a, .top-section a {
    text-decoration: none;
    color: black;
}
.blog-thumbnail-1{
    background-image: url('C:\Users\kashaf.mehmood\OneDrive - Astera Software\Documents\BlogWebsite\my-blog\src\assets\img_1.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
.blog-thumbnail-2{
    background-image: url('C:\Users\kashaf.mehmood\OneDrive - Astera Software\Documents\BlogWebsite\my-blog\src\assets\img_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.blog-thumbnail-3{
    background-image: url('C:\Users\kashaf.mehmood\OneDrive - Astera Software\Documents\BlogWebsite\my-blog\src\assets\img_v_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.blog-thumbnail-4{
    background-image: url('C:\Users\kashaf.mehmood\OneDrive - Astera Software\Documents\BlogWebsite\my-blog\src\assets\img_3.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
.blog-thumbnail-5{
    background-image: url('C:\Users\kashaf.mehmood\OneDrive - Astera Software\Documents\BlogWebsite\my-blog\src\assets\img_4.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.single-blog {
    width: 285px;
    height: 150px;
}
.one-blog {
    width: 300px;
    height: 349px;
}